<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jungleWurm</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:11Z</date>
		<key>image</key>
		<string>jungleWurm</string>
		<key>title</key>
		<string>蟲王</string>
		<key>context</key>
		<string>2</string>
	</dict>
	<key>teq</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:10Z</date>
		<key>image</key>
		<string>teq</string>
		<key>title</key>
		<string>屍龍</string>
		<key>context</key>
		<string>（內容待補）</string>
	</dict>
	<key>thsShatterer</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:49Z</date>
		<key>image</key>
		<string>theShatterer</string>
		<key>title</key>
		<string>水晶龍</string>
		<key>context</key>
		<string>8</string>
	</dict>
	<key>modniirUlgoth</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:44Z</date>
		<key>image</key>
		<string>modniirUlgoth</string>
		<key>title</key>
		<string>人馬王</string>
		<key>context</key>
		<string>3</string>
	</dict>
	<key>clawOfJormag</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:45Z</date>
		<key>image</key>
		<string>clawOfJormag</string>
		<key>title</key>
		<string>冰龍</string>
		<key>context</key>
		<string>4</string>
	</dict>
	<key>svanirShaman</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:46Z</date>
		<key>image</key>
		<string>svanirShaman</string>
		<key>title</key>
		<string>冰薩滿</string>
		<key>context</key>
		<string>5</string>
	</dict>
	<key>golemMarkII</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:47Z</date>
		<key>image</key>
		<string>golemMarkII</string>
		<key>title</key>
		<string>高倫王</string>
		<key>context</key>
		<string>6</string>
	</dict>
	<key>evolvedJungleWurm</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:48Z</date>
		<key>image</key>
		<string>evolvedJungleWurm</string>
		<key>title</key>
		<string>三蟲王</string>
		<key>context</key>
		<string>7</string>
	</dict>
	<key>shadowBehemoth</key>
	<dict>
		<key>time</key>
		<date>2018-02-09T06:08:50Z</date>
		<key>image</key>
		<string>shadowBehemoth</string>
		<key>title</key>
		<string>沼澤王</string>
		<key>context</key>
		<string>9</string>
	</dict>
</dict>
</plist>
